*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial;
}

body{
background:#0b0f19;
color:white;
}


header{
display:flex;
justify-content:space-between;
padding:20px;
background:#111827;
}


nav a{
color:white;
margin:10px;
text-decoration:none;
}


section{
padding:50px;
text-align:center;
}


h1{
font-size:45px;
color:#00ffff;
}


button{
padding:12px 25px;
background:#00ffff;
border:none;
border-radius:20px;
}


.card{
background:#1f2937;
padding:20px;
margin:20px;
border-radius:10px;
}